:host {
  ion-content {
    --background: linear-gradient(to bottom, #9BCCEE, #9588b8);
  }

  .container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 1rem;

    .form-login {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
    }

    ion-img {
      width: 128px;
      align-self: center;
    }

    ion-input {
      --border-color: white;
      --color: white;
    }

    ion-button {
      --background: #60328A;
      --border-radius: 1rem;
    }

    ion-grid {
      flex: 1;
      width: 100%;
    }

    .col {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      font-size: 0.8rem;
    }

    ion-checkbox {
     --checkbox-background: white;
     --size: 1rem;
    }
  }

}

